*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241,222,183);
}

.cards{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
    padding: 1rem;
}

form{
    border: 1px solid blue;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 3rem
}

input{
    display: block;
    width: 600px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.card{
    background-color: rgb(238,108,81);
    color: black;
    height: 200px;
    width: 400px;
    padding: 2rem;
    margin-right: 2rem;
}

.card input{
    width: 300px;
}
.card li{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}